body {
  background: lightblue;
}
.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

#submit {
  width: 20%;
  margin: 0 auto; }

#toDo {
  background: lightgreen; }

#doing {
  background: red; }

#done {
  background: orange; }
